@(form: Form[TwitterUserData])

@main("Sign into Twitter") {
	@helper.form(routes.TwitterController.twitterGate, 'name -> "twitterGateway", 'target -> "_blank") {
		<input type="submit" value="" style="display: none">
	}
    <div id="form">
        @helper.form(routes.TwitterController.twitterAccess) {
        	@helper.CSRF.formField
            @helper.inputText(form("pin"), '_label -> "Enter PIN")

            <input type="submit" value="Twitter">
        }
    </div>
    <script src="@routes.Assets.versioned("javascripts/twitter.js")" type="text/javascript"></script>
}
